.header {
	background-image: url('http://localhost:8001/images/bg.png');
	background-position: fixed;

}

.header h1 {
	color: white;
	font-family: 'Bowlby One SC', cursive;
}

.icon {
	font-family: 'Bowlby One SC', cursive;
}